.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      
    }


    .slideHolder{
        position: relative;
        top :55px;
    }
  
  .headerStripHome{
    border: solid 0px black;
    height: 7%;
    background-color:#1B3764;
    border-radius: 100px;
    position: relative;
    top :1%;
    
}

.headerStripHome1{
    border: solid 0px black;
    height: 7%;
    background-color:#1B3764;
    border-radius: 100px;
    position: relative;
    top :14%;
    
}

  .swipeText{
      text-align: center;
      color: #4ab8b8;
      font-size: 150%;
      font-weight: bolder;
      position: relative;
        top :1%;
      margin-bottom: -20%;
  }

  

  .imageHolder{
      border: solid 2px black;
      height: 30%;
      width: 100%;
      background-image: url('../../assets/imgs/image2.jpg');
      background-size: cover;
  }

.myLoginLogoRegister{
    margin-left: 10%;
    width:  24%;
    position: relative;
    top: 40%;
    margin-left: 42%;
}

.imageHolder1{
    position: relative;
    top :4%;
    
}

.logOutIcon{
    float:right;
    margin-right: 5%;
    color: whitesmoke;
    margin-top: 1.5%;
    font-size : 230%;
}

.slideHolder{
    position: relative;
    top :12%;
}

.tabsIcon{
    margin-left: 20%;
    color: whitesmoke;
    margin-top: 1.5%;
    font-size : 230%;
}



}