.headerStripHome{
    border: solid 0px black;
    height: 7%;
    background-color:#1B3764;
    border-radius: 100px;
    position: relative;
    

}

.logOutIcon{
    float:right;
    margin-right: 5%;
    color: whitesmoke;
    margin-top: 1.5%;
    font-size : 230%;
}

.slideHolderView{
    position: relative;
    top: 2%;
    height: 85%;
}

.hotelNameHolder{
    border: dotted 2px whitesmoke;
    height: 50px;
    position: relative;
    margin-top: 2%;
}

.hotelImagesHolder{
    border: dotted 2px whitesmoke;
    height: 280px;
    position: relative;
    margin-top: 3%;
}

.myLoginLogoView{
    width:  24%;
    position: relative;
    top: 1%;
    margin-left: 6%;
}

.informationHolder{
    border: dotted 2px whitesmoke;
    height: 180px;
    position: relative;
    margin-top: 1%;
}

.headerStripHome2{
    border: solid 0px black;
    height: 7%;
    background-color:#1B3764;
    border-radius: 100px;
    position: relative;
    top :3%;
    
}

.tabsIcon{
    margin-left: 20%;
    color: whitesmoke;
    margin-top: 1.5%;
    font-size : 230%;
}

.hotelNameText{
    position: relative;
    top :1%;
    color: #1B3764;
}

.myRoomSegment{
    position: relative;
    margin-top: -10%;
    color: #1B3764;
}

.roomDetails{
    position: relative;
    margin-top : -4%;
    height: 40px;
}